/* #location {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #location td, #location th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #location tr:nth-child(even){background-color: #f2f2f2;}
  
  #location tr:hover {background-color: #ddd;}
  
  #location th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  } */

  .cust {
    border: 1px solid #f6f6f6;
    border-left: none;
}

.cust tr th {
    border-left: 1px solid #fff;
    background: #626262 !important;
    color: #fff;
    padding: 5px;
    font-weight: bold;
}

.cust tr:nth-child(odd) {
    background-color: #dddddd;
    color: #000;
}

.cust tr td {
    padding: 10px 10px 10px 20px !important;
    text-align: left;
    border-left: 1px solid #f6f6f6;
}

.table-striped tr td, .table-striped tr th {
    text-align: left !important;
    padding: 10px 20px !important;
    border-left: 1px solid #fff;
}

a {
  cursor: pointer;
}